/*初始化*/
*{
	margin:0;
	padding:0;
	font-size:62.5%;
	font-family: '微软雅黑';
}
body{
	width: 100%;
	height: 670px;
	background-image: url(../image/bg.png);
	background-repeat:repeat;
}
ul,ol,li{
	list-style: none;
}

/*内容部分*/
#Contrl{
	width: 100%;
	height: 100%;
	position: relative;
}

/*ImgBox*/
#ImgBox{
	position: absolute;
	left: 15%;
	top: 15%;
}

#ImgBox>figure{
	width: 300px;
	height: 200px;
	float: left;
	padding:10px 10px 25px 10px;
	background-color: #F0F8FF;
	border-radius: 5px;
	border:1px solid #CCC;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow:hidden;
}
#ImgBox>figure:hover img{
	/*transform: scale(1.5);*/
	transform: rotateY(30deg);
	transition: all .5s linear;
	cursor: pointer;
}
#ImgBox>figure>img{
	width: 100%;
	height: 100%;
	display: table-cell;
	transition: all .5s linear;
}
#ImgBox>figure>figcaption{
	font-size: 1.5rem;
	color: 	#3C3C3C;
}

/*layer*/
#layer{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 30;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

/*lightBox*/
#lightBox{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 7px;
	padding:10px 10px 20px 10px;
	background-color: #fff;
	display: none;
	z-index: 50;
}

#lightBox>figure>figcaption{
	font-size: 2rem;
	color: #3C3C3C;
}

#prev,#next{
	width: 50px;
	height: 80px;
	background-color: #fff;
	font-size: 2.5rem;
	color: rgba(0,0,0,.5);
	line-height: 80px;
	text-align: center;
	position: absolute;
	top: 40%;
	display: none;
	cursor: pointer;
}

#prev{
	border-radius: 5px 0 0 5px;
	left: -49px;
}
#next{
	border-radius: 0 5px 5px 0;
	right: -49px;
}

#page{
	width: 50px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 30px;
	font-size: 1.5rem;
}
#page span{
	font-size: 2rem;
}

#close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 2rem;
	color:rgba(0,0,0,.5);
	position: absolute;
	right: 5px;
	top: 5px;
}
#close:hover span{
	display: inline-block;
	transform: rotate(180deg);
	transition: all 0.5s linear;
	cursor: pointer;
}